# ==========================================
# CẤU HÌNH HỆ THỐNG — Copy file này thành .env và điền giá trị
# ==========================================
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# ==========================================
# CẤU HÌNH DATABASE (SQL Server)
# ==========================================
DB_NAME=unims_db
DB_HOST=.\SQLEXPRESS
DB_USER=
DB_PASSWORD=
DB_PORT=
DB_DRIVER=ODBC Driver 17 for SQL Server

# ==========================================
# NGROK (Nếu deploy qua Ngrok)
# ==========================================
# DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,*.ngrok-free.app
# SECURE_SSL_REDIRECT=False
